/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f7fa;
}

/* Navigation */

.navbar{
    width:100%;
    background:#001f3f;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.navbar h2{
    color:#00bfff;
    font-size:30px;
}

.nav-links{
    display:flex;
    gap:30px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:.3s;
}

.nav-links a:hover{
    color:#00bfff;
}

/* Buttons */

.btn{
    display:inline-block;
    padding:15px 35px;
    background:#0066ff;
    color:white;
    text-decoration:none;
    border-radius:6px;
    transition:.3s;
}

.btn:hover{
    background:#004ec2;
}

/* Responsive */

@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:20px;
    }

    .nav-links{
        flex-direction:column;
        text-align:center;
    }

}