{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberShield</title>

    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Page-specific CSS -->
    {% block extra_css %}{% endblock %}
</head>

<body>

    <nav class="navbar">
        <h2>CyberShield</h2>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'services' %}">Services</a>
            <a href="/">Contact</a>
        </div>
    </nav>

    
    {% block content %}
    {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>

    {% block extra_js %}{% endblock %}


</body>
</html>