
{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">


<aside class="sidebar">

    <div class="logo">
        <h2>🛡 CyberShield</h2>
    </div>

    <ul class="sidebar-menu">
        <li>
            <a href="{% url 'user_dashboard' %}">
                📊 Dashboard
            </a>
        </li>

        <li >
            <a href="{% url 'services' %}"> 🛠 Services
            </a>
        </li>

        <li>
            <a href="{% url 'request_service' %} ">
                📋 My Requests
            </a>
        </li>

        <li>
            <a href="{% url 'incident' %}">
                ⚠ Incidents
            </a>
        </li>

        <li>
            <a href="{% url 'tickets' %}">
                🎫 Tickets
            </a>
        </li>

        <li>
            <a href="{% url 'reports' %}">
                📄 Reports
            </a>
        </li>

        <li>
            <a href="{% url 'notifications' %}">
                🔔 Notifications
            </a>
        </li>

        <hr>

        <li>
            <a href="{% url 'profile' %}" onclick="toggleprofileMenu(); return false;">
                👤 Profile ▼
            </a>

            <ul id="profileMenu" class="submenu">

                <li>
                    <a href="{% url 'profile' %}">
                        👤 My profile
                    </a>
                </li>

                <li>
                    <a href="{% url 'edit_profile' %}">
                        ✏ Edit profile
                    </a>
                </li>

                <li class="active">
                    <a href="{% url 'change_password' %}">
                        🔒 Change Password
                    </a>
                </li>

            </ul>
        </li>

        <li>
            <a href="{% url 'settings' %}">
                ⚙ Settings
            </a>
        </li>

        <li>
            <a href="#">
                🚪 Logout
            </a>
        </li>

    </ul>

</aside>
<main class="main-content">
<div class="container mt-5">
    <div class="card shadow p-4">
        <h2 class="text-center mb-4">Change Password</h2>

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label>Current Password</label>
                <input type="password" name="old_password" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>New Password</label>
                <input type="password" name="new_password1" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>Confirm New Password</label>
                <input type="password" name="new_password2" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-warning">
                Change Password
            </button>

            <a href="{% url 'profile' %}" class="btn btn-secondary">
                Cancel
            </a>
        </form>
    </div>
</div>
</main>
{% endblock %}