

{% load static %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

<aside class="sidebar">

    <div class="logo">
        <h2>🛡 CyberShield</h2>
    </div>

    <ul class="sidebar-menu">
        <li>
            <a href="{% url 'user_dashboard' %}">
                📊 Dashboard
            </a>
        </li>

        <li >
            <a href="{% url 'services' %}"> 🛠 Services
            </a>
        </li>

        <li>
            <a href="{% url 'request_service' %} ">
                📋 My Requests
            </a>
        </li>

        <li>
            <a href="{% url 'incident' %}">
                ⚠ Incidents
            </a>
        </li>

        <li>
            <a href="{% url 'tickets' %}">
                🎫 Tickets
            </a>
        </li>

        <li>
            <a href="{% url 'reports' %}">
                📄 Reports
            </a>
        </li>

        <li>
            <a href="{% url 'notifications' %}">
                🔔 Notifications
            </a>
        </li>

        <hr>

       <li>

       <li>
                <a href="{% url 'profile' %}">
                    👤 Profile
                </a>
            </li>
        <li>
            <a href="{% url 'settings' %}">
                ⚙ Settings
            </a>
        </li>
         {% if request.user.settings.role == "analyst" or request.user.settings.role == "admin" %}
        <li>
            <a href="{% url 'professional_dashboard' %}">
                🛡 Professional Portal
            </a>
        </li>
        {% endif %}

        <li>
            <a href="{% url 'logout' %}">
                🚪 Logout
            </a>
        </li>

    </ul>

</aside>



{% block title %}My Profile{% endblock %}
<main class="main-content">
{% load static %}


<h2>My Profile</h2>

<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <div>

        {% if profile.profile_picture %}
            <img src="{{ profile.profile_picture.url }}"
                 width="150"
                 height="150">
        {% endif %}

    </div>

    <br>

    <label>Profile Picture</label>

    <input
        type="file"
        name="profile_picture"
    >

    <br><br>

    <label>First Name</label>

    <input
        type="text"
        name="first_name"
        value="{{ request.user.first_name }}"
    >

    <br><br>

    <label>Last Name</label>

    <input
        type="text"
        name="last_name"
        value="{{ request.user.last_name }}"
    >

    <br><br>

    <label>Email</label>

    <input
        type="email"
        name="email"
        value="{{ request.user.email }}"
    >

    <br><br>

    <label>Phone</label>

    <input
        type="text"
        name="phone"
        value="{{ profile.phone }}"
    >

    <br><br>

    <label>County</label>

    <input
        type="text"
        name="county"
        value="{{ profile.county }}"
    >

    <br><br>

    <label>Address</label>

    <textarea
        name="address"
        rows="4"
    >{{ profile.address }}</textarea>

    <br><br>

    <button type="submit">
        Update Profile
    </button>

</form>

{% endblock %}
</main>

<script>
function toggleProfileMenu() {
    const menu = document.getElementById("profileMenu");

    if (menu.style.display === "block") {
        menu.style.display = "none";
    } else {
        menu.style.display = "block";
    }
}
</script>