

{% load static %}

<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<aside class="sidebar">

    <div class="logo">
        <h2>🛡 CyberShield</h2>
    </div>

    <ul class="sidebar-menu">

        <li><a href="{% url 'user_dashboard' %}"> Dashboard</a></li>

        <li><a href="{% url 'services' %}"> Services</a></li>

        <li><a href="{% url 'request_service' %}">  Request Services</a></li>

        <li><a href="{% url 'incident' %}"> Incidents</a></li>

        <li><a href="{% url 'tickets' %}"> Tickets</a></li>

        <li><a href="{% url 'reports' %}"> Reports</a></li>

        <li><a href="{% url 'notifications' %}"> Notifications</a></li>

        <hr>

        <li class="active">
            <a href="{% url 'profile' %}">
                 Profile
            </a>
        </li>

        <li>
            <a href="{% url 'settings' %}">
                 Settings
            </a>
        </li>

        
        <li>
            <a href="{% url 'logout' %}">
                 Logout
            </a>
        </li>

    </ul>

</aside>

<main class="main-content">

<div class="profile-container">

<div class="profile-card">

    <div class="top-section">

        <div class="photo">

            {% if profile.profile_picture %}
                <img src="{{ profile.profile_picture.url }}" class="profile-image">
            {% else %}
                <img src="{% static 'images/default-profile.png' %}" class="profile-image">
            {% endif %}

        </div>

        <div class="user-info">

            <h1>
                {{ request.user.first_name }}
                {{ request.user.last_name }}
            </h1>

            <span class="role">
                {{ request.user.settings.role }}
            </span>

            <p class="bio">
                {{ profile.bio|default:"No bio added yet." }}
            </p>

            <a href="{% url 'edit_profile' %}" class="edit-btn">
                 Edit Profile
            </a>

        </div>

    </div>

    <hr>

    <div class="details">

        <div class="detail-box">
            <strong>Username</strong>
            <p>{{ request.user.username }}</p>
        </div>

        <div class="detail-box">
            <strong>Email</strong>
            <p>{{ request.user.email }}</p>
        </div>

        <div class="detail-box">
            <strong>Phone</strong>
            <p>{{ profile.phone|default:"Not Provided" }}</p>
        </div>

        <div class="detail-box">
            <strong>Gender</strong>
            <p>{{ profile.gender|default:"Not Provided" }}</p>
        </div>

        <div class="detail-box">
            <strong>Date of Birth</strong>
            <p>{{ profile.date_of_birth|default:"Not Provided" }}</p>
        </div>

        <div class="detail-box">
            <strong>Address</strong>
            <p>{{ profile.address|default:"Not Provided" }}</p>
        </div>

        <div class="detail-box">
            <strong>County</strong>
            <p>{{ profile.county|default:"Not Provided" }}</p>
        </div>

        <div class="detail-box">
            <strong>Member Since</strong>
            <p>{{ request.user.date_joined|date:"d M Y" }}</p>
        </div>

    </div>

</div>

</div>

</main>

<script>
function toggleProfileMenu() {
    const menu = document.getElementById("profileMenu");

    if (menu.style.display === "block") {
        menu.style.display = "none";
    } else {
        menu.style.display = "block";
    }
}
</script>