
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/request.css' %}">
<link rel="stylesheet" href="{% static 'css/services.css' %}">
<aside class="sidebar">

        <div class="logo">
            <h2>🛡 CyberShield</h2>
        </div>

        <ul class="sidebar-menu">
            <li>
                <a href="{% url 'user_dashboard' %}">
                     Dashboard
                </a>
            </li>

            <li>
                <a href="{% url 'services' %} ">  Services
                </a>
            </li>

            <li class="active">
                <a href="{% url 'request_service' %} ">
                      Request Services
                </a>
            </li>
            

            <li>
                <a href="{% url 'incident' %}">
                     Incidents
                </a>
            </li>

            <li>
               <a href="{% url 'tickets' %}">
                     Tickets
                </a>
            </li>

            <li>
                <a href="{% url 'reports' %}">
                     Reports
                </a>
            </li>

            <li>
                <a href="{% url 'notifications'%}">
                     Notifications
                </a>
            </li>

            <hr>

            <li>
                <a href="{% url 'profile' %}">
                     Profile
                </a>
            </li>

            <li>
                <a href="{% url 'settings' %}">
                     Settings
                </a>
            </li>
            

            <li>
                <a href="{% url 'logout' %}">
                     Logout
                </a>
            </li>

        </ul>

    </aside>

<main class="main-content">
<hr>
{% load static %}


<h2>Request Service</h2>

<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <label>Service</label>

    <input
        type="text"
        name="service_name"
        value="{{ service }}"
        readonly
    >
    <label>Client Type</label>

    <select name="client_type" required>
        <option value="">Select Client Type</option>
        <option value="Personal">Personal</option>
        <option value="Company"> Company</option>
    </select>

    <br><br>

    <label>Device Affected</label>

    <select name="affected_device" required>
        <option value="">Select Device</option>
        <option value="Desktop">Desktop</option>
        <option value="Laptop">Laptop</option>
        <option value="Mobile Phone">Mobile Phone</option>
        <option value="Tablet">Tablet</option>
        <option value="Server">Server</option>
        <option value="Network">Network Equipment</option>
        <option value="Website">Website</option>
        <option value="Email">Email Account</option>
        <option value="Other">Other</option>
    </select>

    <br><br>


    <label>Type of Assistance</label>

    <select name="assistance_type" required>

        <option value="">Select Assistance</option>

        <option value="Prevention">
            Prevention
        </option>

        <option value="Inspection">
            Inspection / Security Assessment
        </option>

        <option value="Incident Response">
            Incident Response (Incident Occurred)
        </option>

    </select>

    <br><br>

    <!-- Location -->
    <label>Location</label>

    <input
        type="text"
        name="location"
        placeholder="e.g. Nairobi Office, Home, TTU Campus"
        required
    >

    <br><br>
    <hr>

    

    <h3>Supporting Evidence</h3>

    <label>Upload Attachment (Optional)</label>

    <input
        type="file"
        name="attachment"
        accept=".pdf,.doc,.docx,.jpg,.jpeg,.png,.zip"
    >

    <br><br>
        
    <label>How many days ago did the incident occur?</label>

    <input
        type="number"
        name="incident_days"
        min="0"
        placeholder="e.g. 3"
        required
    >

    <br><br>

    <br><br>

    <label>Description</label>

    <textarea
        name="description"
        rows="6"
        required
    ></textarea>

    <br><br>

    <button type="submit">
        Submit Request
    </button>

</form>

</main>


{% endblock %}