{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

<aside class="sidebar">

        <div class="logo">
            <h2>🛡 CyberShield</h2>
        </div>

        <ul class="sidebar-menu">
            <li>
                <a href="{% url 'user_dashboard' %}">
                     Dashboard
                </a>
            </li>

            <li >
                <a href="{% url 'services' %}">  Services
                </a>
            </li>

            <li>
                <a href="{% url 'request_service' %} ">
                      Request Services
                </a>
            </li>

            <li>
                <a href="{% url 'incident' %}">
                     Incidents
                </a>
            </li>

            <li class="active">
                <a href="{% url 'tickets' %}">
                     Tickets
                </a>
            </li>

            <li>
                <a href="{% url 'reports' %}">
                     Reports
                </a>
            </li>

            <li>
                <a href="{% url 'notifications'%}">
                     Notifications
                </a>
            </li>

            <hr>

            <li>
                <a href="{% url 'profile' %}">
                     Profile
                </a>
            </li>

            <li>
                <a href="{% url 'settings' %}">
                     Settings
                </a>
            </li>
            

            <li>
                <a href="{% url 'logout' %}">
                     Logout
                </a>
            </li>

        </ul>

    </aside>
{% load static %}
<main class="main-content">

<tbody>
    <div class="table-container">

            <table>

                <thead>

                    <tr>
                        <th>Ticket ID</th>
                        <th>Subject</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>

                </thead>

                <tbody>


{% for ticket in tickets %}

<tr>
    <td>#{{ ticket.ticket_number }}</td>
    <td>{{ ticket.subject }}</td>

    <td>
        <span class="{{ ticket.status|lower }}">
            {{ ticket.status }}
        </span>
    </td>

    <td>{{ ticket.priority }}</td>
    <td>{{ ticket.created_at|date:"d M Y" }}</td>
</tr>

{% empty %}

<tr>
    <td colspan="5">
        You have not created any tickets yet.
    </td>
</tr>

{% endfor %}

</tbody>
</main>
{% endblock %}
